@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page">
    <div class="buttons-container">
        <a id="new-project-button" data-toggle="tooltip" title="Add new project" class="white-icon pull-left add-button" href="@Url.Action("GetProjectFormPartialView", "Projects")"><i class="fa fa-plus fa-3x"></i></a>        
    </div>

    <div class="list-loader"></div>

    <div id="project-list-wrapper"></div>

    <div id='project-form-modal' class='modal fade' align="center">
        <div id='project-form-container'>
        </div>
    </div>

    <div id='album-form-modal' class='modal fade' align="center">
        <div id='album-form-container'>
        </div>
    </div>
</div>

@section scripts
{
<script src="~/js/jstree.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
$(document).ready(function () {
    repopulateProjectList()
        .then(function (result) {
            $('.list-loader').remove();
            $('hr').show();
            $('footer').show();
        })
        .catch(function (error) {
            bootbox.alert("Unable to load projects. Error: " + error.statusText);
        });

    $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });

    // Deleting a project
    $("#page").on("click", "#delete-project-button", function (e, data) {
        e.preventDefault();

        var href = this.href;

        bootbox.confirm("Are you sure you wish to delete this project? This cannot be undone.", function (result) {
            if (result) {
                $.ajax({
                    url: href,
                    type: 'DELETE',
                })
                    .then(function (response) {
                        repopulateProjectList();
                    })
                    .fail(function (error) {
                        bootbox.alert("Unable to delete project. Error: " + error.statusText);
                    })
            }
        });
    });

    // Show modal for new project
    $("#page").on("click", "#new-project-button", function (e, data) {
        e.preventDefault();

        var href = this.href;

        $.ajax({
            url: href,
            type: 'GET',
        })
            .then(function (data) {
                $('#project-form-container').html(data);
                // Client side validation for dynamic modal injection
                $.validator.unobtrusive.parse($("#project-form"));

                currentModal = $('#project-form-modal');
                currentModal.modal('show');

            })
            .fail(function (error) {
                bootbox.alert("Unable to show project form. Error: " + error.statusText);
            })
    });

    // Show modal for edit project
    $("#page").on("click", "#edit-project-button", function (e, data) {
        e.preventDefault();

        var href = this.href + "/?projectId=" + $(this).attr("data-project-id");  

        $.ajax({
            url: href,
            type: 'GET',
        })
            .then(function (data) {
                $('#project-form-container').html(data);
                // Client side validation for dynamic modal injection
                $.validator.unobtrusive.parse($("#project-form"));

                currentModal = $('#project-form-modal');
                currentModal.modal('show');

            })
            .fail(function (error) {
                bootbox.alert("Unable to show project form. Error: " + error.statusText);
            })
    });

    $("#page").on("click", ".show-items-icon-container", function (e, data) {
        $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });

        var that = this;

        $(this).hide();
        $(this).siblings('.item-container').show(200);
        // Wait until the expansion animation is complete to show the buttons
        setTimeout(function () {
            $(that).siblings('.item-container').children().css("visibility", "visible");
        }, 200)
        $(this).siblings('.hide-items-icon-container').show();
    });

    $("#page").on("click", ".hide-items-icon-container", function (e, data) {
        $(this).hide();
        $(this).siblings('.item-container').children().css("visibility", "hidden");
        $(this).siblings('.item-container').hide(200);
        $(this).siblings('.show-items-icon-container').show();
    });

    $(document).on("change", "#contributors-list", function (e, data) {
        e.preventDefault();

        var selected = $(this).find('option:selected'),
            contributorCount = getContributorCount(),
            username = $(this).val(),
            name = selected.text();

        // Create button for contributor and remove from list
        $("#contributors-panels").append("<input type='hidden' class='form-control contributor' name='' value='" + username + "'>");
        $("#contributors-panels").append("<button data-username='" + username + "' data-text='" + name + "' class='contributor-btn btn btn-default'>" + name + "<i class='fa fa-times' style='padding-left: 7px;' /></button>");        
        selected.remove();
        $("#contributors-list option[value=default]").prop("selected", true);
    });

    $(document).on("click", ".contributor-btn", function (e, data) {
        e.preventDefault();

        var username = $(this).attr("data-username"),
            text = $(this).attr("data-text");

        // Add contributor back to dropdown list and remove the button
        $("#contributors-list").append("<option value='" + username + "'>" + text + "</option>");
        $(this).remove();
        $("input[value=" + username + "]").remove();
    });

    $("#page").on("submit", function (e, data) {
        e.preventDefault();

        // Loop through all contributors to add index for model binding
        $('.contributor').each(function (index) {
            $(this).attr('name', 'Contributors[' + index + '].Username');
        });

        var form = e.target;
        var formData = new FormData(form);

        // Show spinner on save button
        $($(document.activeElement)[0]).html('<div class="loader"></div>');

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        })
        .then(function (response) {
            currentModal.modal('hide');
            // Call GetProjectListPartialView to repopulate the project list
            repopulateProjectList();
        })
        .fail(function (error) {
            currentModal.modal('hide');
            bootbox.alert("Unable to save project. Error: " + error.statusText);
        })
    });

    function repopulateProjectList() {
        return new Promise((resolve, reject) => {
            var url = '@Url.Action("GetProjectListPartialView", "Projects", null)';

            $.get(url, function (data) {
                $('#project-list-wrapper').empty().append(data);
            })
                .then(resolve)
                .fail(reject)
        })
    }

    function getContributorCount() {
        return $('.contributor-btn').length;
    }
});
</script>
}





