@model ForgotPasswordViewModel

<div class="center-form-outer-container" align="center">
    <div class="center-form-inner-container">
        <form asp-controller="Account" asp-action="ForgotPassword" id="forgot-password-form" method="post" class="form-horizontal form-center">
            <h4>We'll send you an email</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Username"></label>
                </div>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Email"></label>
                </div>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default button-submit-wide">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}