<div class="center-form-outer-container" align="center">
    <div class="center-form-inner-container">
        <h2>Check Your Email</h2>
        <div>
            <p>
                We've sent you instructions on how to reset your password.
            </p>
            <p>
                <a asp-controller="Account" asp-action="Login">Click here to Log in</a>
            </p>
        </div>
    </div>
</div>