<div class="flex-container-col">
    <h2>Payment Unsuccessful</h2>
    <div>
        <p>
            We were unable to process your payment. We have emailed you the details.
        </p>
    </div>
</div>