<div class="flex-container-col">
    <h2>Payment Successful</h2>
    <div>
        <p>
            Your payment has been successfully processed! We have sent you a transaction confirmation email.
        </p>
    </div>
</div>