<div class="flex-container-col">
    <div class="confirmation-message">
        <h2>Registration Successful</h2>
        <div>
            <p>
                You have successfully registered! We have sent you a registration confirmation email. Please confirm your account before logging in.
            </p>
            <p>
                <a class="link" asp-controller="Account" asp-action="Login">Click here to Log in</a>
            </p>
        </div>
    </div>
</div>