@model RegisterViewModel

<div class="center-form-outer-container">
    <div class="center-form-inner-container">
        <h2>Register</h2>
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" id="register-form" data-ajax="true" method="post" enctype="multipart/form-data" class="form-horizontal form-center">
            <h4>Create your account</h4>
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Username"></label>
                </div>
                <input asp-for="Username" class="form-control form-input" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="FirstName"></label>
                </div>
                <input asp-for="FirstName" class="form-control form-input" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="LastName"></label>
                </div>
                <input asp-for="LastName" class="form-control form-input" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Email"></label>
                </div>
                <input asp-for="Email" class="form-control form-input" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Password"></label>
                </div>
                <input asp-for="Password" class="form-control form-input" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <input asp-for="ConfirmPassword" class="form-control form-input" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    @Html.LabelFor(m => m.Image, "Profile Image")
                </div>
                @Html.TextBoxFor(m => m.Image, new { type = "file", @class = "btn btn-default form-input" })
                @Html.ValidationMessageFor(m => m.Image)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default button-submit-wide">Register</button>
            </div>
        </form>
    </div>
</div>