<div class="flex-container-col">
    <h2>Registration Successful</h2>
    <div>
        <p>
            You have successfully registered, but we were unable to process your payment. We have signed you up for a free account in the meantime. You can upgrade to a subscription account at the <a asp-controller="Manage" asp-action="Index">Account</a> page.
        </p>
        <p>
            We have sent you a confirmation email. Please confirm your account before logging in.
        </p>
        <p>
            <a class="link" asp-controller="Account" asp-action="Login">Click here to Log in</a>
        </p>
    </div>
</div>