@model ResendConfirmationEmailViewModel

<div class="flex-container-col">
    <form asp-controller="Account" asp-action="ResendConfirmationEmail" id="confirmation-email-form" method="post" class="form-horizontal form-center">
        <h2>Resend Confirmation Email</h2>
        <div class="form-group">
            <div class="form-label">
                <label asp-for="Username"></label>
            </div>
            <input asp-for="Username" class="form-control form-input" />
            <div class="form-label">
                <span asp-validation-for="Username" style="color: red"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label asp-for="Email"></label>
            </div>
            <input asp-for="Email" class="form-control form-input" />
            <div class="form-label">
                <span asp-validation-for="Email" style="color: red"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default button-submit-wide">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
