<h2>Password Reset Successful</h2>
<div>
    <p>
        You have successfully reset your password.
    </p>
    <p>
        <a class="link" asp-controller="Account" asp-action="Login">Click here to Log in</a>
    </p>
</div>