@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="flex-container-row">
    <div class="flex-container-col">
        <div class="confirmation-message">
            <h2>Subscription Successful</h2>
            <div>
                <p>
                    You have successfully subscribed!
                </p>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <p>
                        <a asp-controller="Account" asp-action="Login">Click here to Log in</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

