@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="flex-container-row">
    <div class="flex-container-col">
        <div class="confirmation-message">
            <h2>Credit Card Update Unsuccessful</h2>
            <div>
                <p>
                    We were unable to update your credit card information. If this issue persists, please reach out to us as support@tabcollab.com
                </p>
            </div>
        </div>
    </div>
</div>

