@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="flex-container-row">
    <div class="flex-container-col">
        <div class="confirmation-message">
            <h2>Credit Card Update Successful</h2>
            <div>
                <p>
                    You have updated your credit card information!
                </p>
            </div>
        </div>
    </div>
</div>

