@{
    ViewData["Title"] = "Email Confirmed";
}


<div class="center-form-outer-container" align="center">
    <div class="center-form-inner-container">
        <h2>@ViewData["Title"]</h2>
        <div>
            <p>
                Thank you for confirming your email.
            </p>
            <p>
                <a class="link" asp-controller="Account" asp-action="Login">Click here to Log in</a>
            </p>
        </div>
    </div>
</div>
