@using TabRepository.ViewModels
@model CreditCardFormViewModel

@{
    ViewData["Title"] = "Subscription Payment";
}

<div class="flex-container-row">
    <form id="payment-form" class="form-horizontal">
        <h2>Upgrade Account</h2>
        @Html.Hidden("UserId", ViewData["UserId"])
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group owner">
                    <div class="form-label">
                        <label asp-for="CardName"></label>
                    </div>
                    <input asp-for="CardName" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="CardName" style="color: red"></span>
                        <span id="name-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group owner">
                    <div class="form-label">
                        <label asp-for="CardNumber"></label>
                    </div>
                    <input asp-for="CardNumber" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="CardNumber" style="color: red"></span>
                        <span id="number-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="CVC"></label>
                    </div>
                    <input asp-for="CVC" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="CVC" style="color: red"></span>
                        <span id="cvc-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="Zip"></label>
                    </div>
                    <input asp-for="Zip" class="form-control form-input" />
                    <div class="form-label">
                        <span asp-validation-for="Zip" style="color: red"></span>
                        <span id="zip-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-no-margin">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-label">
                        <label>Expiration Date</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <select asp-for="Month" class="form-control">
                                <option value="01">January</option>
                                <option value="02">February </option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col">
                            <select asp-for="Year" class="form-control">
                                <option value="19"> 2019</option>
                                <option value="20"> 2020</option>
                                <option value="21"> 2021</option>
                                <option value="22"> 2022</option>
                                <option value="23"> 2023</option>
                                <option value="24"> 2024</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-label">
                        <span id="exp-error" class="validation-error" style="color: red"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 credit-cards-container">
                <div class="form-group" id="credit-cards">
                    <img class="credit-card" src="~/images/visa.png" id="visa">
                    <img class="credit-card" src="~/images/mastercard.png" id="mastercard">
                    <img class="credit-card" src="~/images/amex.png" id="amex">
                    <img class="credit-card" src="~/images/discover.png" id="discover">
                </div>
            </div>
        </div>
        <p>* You subscription will auto-renew each year until you cancel *</p>
        <p>Amount to be charged: $49.99</p>
        <div class="row row-no-margin">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-default button-submit-wide">Subscribe</button>
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
    <form asp-controller="Account" asp-action="SubscriptionProcess" asp-route-returnurl="@ViewData["ReturnUrl"]" id="token-form" method="post" hidden>
        <input asp-for="PaymentToken" hidden />
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/jquery.payment/lib/jquery.payment.min.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script>
        $(document).ready(function () {
            $('footer').show();

            Stripe.setPublishableKey('pk_test_mMmjGjT6aetaMgLCCu14fWGm00wC0SGVLv');

            function stripeResponseHandler(status, response) {                
                var form = $('#payment-form');

                if (response.error) { 
                    if (response.error) {
                        if (response.error.param) {
                            switch (response.error.param) {
                                case 'cvc':
                                    $('#cvc-error').html(response.error.message);
                                    break;
                                case 'number':
                                    $('#number-error').html(response.error.message);
                                    break;
                                case 'exp_year':
                                case 'exp_month':
                                    $('#exp-error').html(response.error.message);
                                    break;
                                case 'address_zip':
                                    $('#zip-error').html(response.error.message);
                                    break;
                            }
                        }
                        else {
                            showFailureBootbox("processing credit card payment", response.error.message);
                        }

                        enableSubmitButton();
                    }
                } else { 
                    // Successful Stripe token creation
                    var token = response.id;

                    form = $('#token-form')[0];

                    // Insert the token into the form so it gets submitted to the server:
                    $('#PaymentToken').val(token);

                    $.ajax({
                        url: form.action,
                        type: 'POST',
                        data: new FormData(form),
                        cache: false,
                        contentType: false,
                        processData: false
                    })
                    .then(function (response) {     
                        enableSubmitButton();
                        
                        if (response.error) {
                            if (response.param) {
                                switch (response.param) {
                                    case 'cvc':
                                        $('#cvc-error').html(response.error);
                                        break;
                                    case 'number':
                                        $('#number-error').html(response.error);
                                        break;
                                    case 'exp_year':
                                    case 'exp_month':
                                        $('#exp-error').html(response.error);
                                        break;
                                    case 'address_zip':
                                        $('#zip-error').html(response.error.message);
                                        break;
                                    default:
                                        showFailureBootbox("processing credit card payment", response.error);
                                        break;
                                }
                            }
                            else {
                                showFailureBootbox("processing credit card payment", response.error);
                            }
                        }
                        else {
                            $('.flex-container-row').html(response);
                        }
                    })
                    .fail(function (error) {
                        showFailureBootbox("processing credit card payment", error.error);
                    });
                }
            }

            // Check card type
            $(document).on("keyup", "#CardNumber", function () {
                validateCardNumber(this);
            });

            // Check card type
            $(document).on("paste", "#CardNumber", function () {
                var that = this;
                setTimeout(function () {
                    validateCardNumber(that);
                }, 0);
            });

            function validateCardNumber(event) {
                var $amex = $('#amex'),
                    $visa = $('#visa'),
                    $mastercard = $('#mastercard'),
                    $discover = $('#discover'),
                    $cardNumber = $(event);

                $amex.removeClass('transparent');
                $visa.removeClass('transparent');
                $mastercard.removeClass('transparent');
                $discover.removeClass('transparent');

                if ($.payment.cardType($cardNumber.val()) == 'visa') {
                    $mastercard.addClass('transparent');
                    $amex.addClass('transparent');
                    $discover.addClass('transparent');
                } else if ($.payment.cardType($cardNumber.val()) == 'amex') {
                    $mastercard.addClass('transparent');
                    $visa.addClass('transparent');
                    $discover.addClass('transparent');
                } else if ($.payment.cardType($cardNumber.val()) == 'mastercard') {
                    $amex.addClass('transparent');
                    $visa.addClass('transparent');
                    $discover.addClass('transparent');
                }
                else if ($.payment.cardType($cardNumber.val()) == 'discover') {
                    $amex.addClass('transparent');
                    $visa.addClass('transparent');
                    $mastercard.addClass('transparent');
                }
            }

            $(document).on("submit", "#payment-form", function (e, data) {
                // Show spinner on reset button
                $('.button-submit-wide').html('<div class="loader"></div>');
                $('.button-submit-wide').addClass('disabled');

                e.preventDefault();

                $('.validation-error').html('');

                Stripe.card.createToken({
                    number: $('#CardNumber').val(),
                    cvc: $('#CVC').val(),
                    exp_month: $('#Month').val(),
                    exp_year: $('#Year').val(),
                    address_zip: $('#Zip').val()
                }, stripeResponseHandler);
            });

            $(document).on('hidden.bs.modal', function () {
                enableSubmitButton();
            });      

            function enableSubmitButton() {
                $('.button-submit-wide').removeClass('disabled');
                $('.button-submit-wide').html('Subscribe');
            }
        });
    </script>
}
