@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div class="flex-container-col">
    <h2>@ViewData["Title"].</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
