@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="center-form-outer-container" align="center">
    <div class="center-form-inner-container">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal form-register">
            <h4>Enter your email</h4>
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <div style="text-align: left; margin-left: 15px;">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default button-submit-wide">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
