@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<div class="flex-container-col">
    <form id="login" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-center">
        <h2>Log In</h2>
        <div class="form-group">
            <div class="form-label">
                <label asp-for="Username" class="float-left"></label>
            </div>
            <input asp-for="Username" class="form-control form-input" />
            <div class="form-label">
                <span asp-validation-for="Username" style="color: red"></span>
                <span id="username-error" class="validation-error" style="color: red"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label asp-for="Password"></label>
            </div>
            <input asp-for="Password" class="form-control form-input" />
            <div class="form-label">
                <span asp-validation-for="Password" style="color: red"></span>
            </div>
        </div>
        <input type="hidden" id="ReCaptchaToken" name="ReCaptchaToken" />
        <div class="form-group">
            <div class="form-label">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="login-button" type="submit" class="btn btn-default button-submit-wide disabled">Log in</button>
        </div>
    </form>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-center">
        <p>
            <a class="link" asp-action="ForgotPassword">Forgot Password</a>
        </p>
        <p>
            <a class="link" asp-action="ResendConfirmationEmail">Resend Confirmation Email</a>
        </p>
    </form>
</div>

<div id='forgot-password-form-modal' class='modal fade' align="center">
    <div id='forgot-password-form-container'>
    </div>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="https://www.google.com/recaptcha/api.js?render=6LeLxbQUAAAAAKwu6kOAvAESdUxF92qrudialxI9"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LeLxbQUAAAAAKwu6kOAvAESdUxF92qrudialxI9', { action: 'homepage' }).then(function (token) {
            document.getElementById("ReCaptchaToken").value = token;
            $('#login-button').removeClass('disabled');
        });
    });

    $(document).ready(function () {
        $('footer').show();

        $(document).on("submit", function (e, data) {
            e.preventDefault();

            $('.validation-error').html('');
            $('#login-button').html('<div class="loader"></div>');
            $('#login-button').addClass('disabled');

            var form = e.target;
            var formData = new FormData(form);

            $.ajax({
                url: form.action,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            })
                .then(function (response) {
                    if (response.error) {
                        enableSubmitButton();
                        switch (response.error) {
                            case "Invalid login attempt":
                                $('#username-error').html(response.error);
                                break;
                            default:
                                showFailureBootbox("logging in", response.error);
                                break;
                        }
                    }
                    else if (response.url) {
                        window.location.replace(response.url);
                    }
                    else {
                        window.location.reload();
                    }
                })
                .fail(function (error) {
                    bootbox.alert("Unable to log in. Error: " + error.statusText);
                    enableSubmitButton();
                })
        });
    });

    function enableSubmitButton() {
        $('#login-button').html('Login');
        $('#login-button').removeClass('disabled');
    }
</script>
}
