@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="center-form-outer-container" align="center">
    <div class="center-form-inner-container">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal form-password-reset">
            <h4>Reset your password</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Username"></label>
                </div>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Email"></label>
                </div>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Password"></label>
                </div>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default button-submit-wide">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var resetSuccess = false;

        $(document).on("submit", function (e, data) {
            // Show spinner on reset button
            $($(document.activeElement)[0]).html('<div class="loader"></div>');

            e.preventDefault();

            var form = e.target;
            var formData = new FormData(form);

            $.ajax({
                url: form.action,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            })
            .then(function (response) {
                resetSuccess = true;
                bootbox.dialog({
                    message: "Your password has been reset.",
                    buttons: {
                        confirm: {
                            label: 'Go to login',
                            className: 'btn-default'
                        }
                    }
                });
            })
            .fail(function (error) {
                bootbox.dialog({
                    message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                    buttons: {
                        confirm: {
                            label: 'Close',
                            className: 'btn-default'
                        },
                    }
                });
            });
        });

        $(document).on('hidden.bs.modal', function () {
            $('.button-submit-wide').html('Reset');
            if (resetSuccess) {
                window.location.href = ("@Url.Action("Login", "Account")");
            }
        });
    </script>
}
