@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div id="reset-password-container">
    <div class="flex-container-col">
        <form asp-controller="Account" asp-action="ResetPassword" id="reset-password-form" method="post" class="form-horizontal form-center">
            <h4>Reset your password</h4>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Username"></label>
                </div>
                <input asp-for="Username" class="form-control form-input" />
                <div class="form-label">
                    <span asp-validation-for="Username" style="color: red"></span>
                    <span id="username-error" class="validation-error" style="color: red"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="Password"></label>
                </div>
                <input asp-for="Password" class="form-control form-input" />
                <div class="form-label">
                    <span asp-validation-for="Password" style="color: red"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <input asp-for="ConfirmPassword" class="form-control form-input" />
                <div class="form-label">
                    <span asp-validation-for="ConfirmPassword" style="color: red"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default button-submit-wide">Reset</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $('#reset-password-container').on("submit", function (e, data) {
        $('.validation-error').html('');
        // Show spinner on reset button
        $('.button-submit-wide').html('<div class="loader"></div>');
        $('.button-submit-wide').addClass('disabled');

        e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        }).then(function (response) {
            enableSubmitButton();
            if (response.error) {
                if (response.error.toLowerCase().includes('username')) {
                    $('#username-error').html(response.error);
                }
                else {
                    showFailureBootbox("resetting your password", response.error);
                }
            }
            else {
                $('#reset-password-container').html(response);
                $.validator.unobtrusive.parse($("#reset-password-form"));
            }
        }).fail(function (error) {
            bootbox.dialog({
                message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                buttons: {
                    confirm: {
                        label: 'Close',
                        className: 'btn-default'
                    },
                }
            });
        });
    });

    function enableSubmitButton() {
        $('.button-submit-wide').removeClass('disabled');
        $('.button-submit-wide').html('Reset');
    }

    $(document).on('hidden.bs.modal', function () {
        $('.button-submit-wide').html('Reset');
    });
</script>
}
