@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Subscription Canceled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-container-row">
    <div class="flex-container-col">
        <div class="confirmation-message">
            <h2>Subscription Canceled</h2>
            <div>
                <p>
                    You have canceled your subscription.
                </p>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <p>
                        <a asp-controller="Account" asp-action="Login">Click here to Log in</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>
