@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Account Upgrade Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-container-row">
    <div class="flex-container-col">
        <div class="confirmation-message">
            <h2>Account Upgrade Successful</h2>
            <div>
                <p>
                    You have successfully upgraded your account! Check your email for a receipt.
                </p>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <p>
                        <a class="link" asp-controller="Account" asp-action="Login">Click here to Log in</a>
                    </p>
                }
             </div>
        </div>
    </div>
</div>

