@model IEnumerable<TabRepository.ViewModels.FriendViewModel>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <p></p>
    <p></p>
    <div class="list-loader"></div>
    <div id="friends-list-wrapper"></div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            repopulateFriendsList()
                .then(function (result) {
                    $('.list-loader').remove();
                    $('hr').show();
                    $('footer').show();
                })
                .catch(function (error) {
                    bootbox.alert("Unable to load friends. Error: " + error.statusText);
                });
            // Add friend
            $("#page").on("click", "#add-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (data) {
                    $(that).html("Friend Request Sent");
                    $(that).toggleClass('btn-primary btn-default disabled pull-left');
                    $(that).parent().append('<a id="cancel-request-button" data-username="' + username.username + '" class="btn btn-danger pull-right" href="/Friends/CancelRequest">Cancel Request</a>');
                })
                .fail(function (error) {
                    bootbox.alert("Unable to send friend request. Error: " + error.statusText);
                })
            });

            // Accept friend
            $("#page").on("click", "#accept-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (data) {
                    $(that).html("Friends");
                    $(that).toggleClass('btn-primary btn-success');
                    $(that).parent().html('<a class="btn btn-success pull-left">Friends</a><a id="remove-friend-button" data-username="' + username.username + '" class="btn btn-danger pull-right" href="/Friends/RemoveFriend">Unfriend</a>')
                })
                .fail(function (error) {
                    bootbox.alert("Unable to accept friend request. Error: " + error.statusText);
                })
            });

            // Remove friend
            $("#page").on("click", "#remove-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                bootbox.confirm("Are you sure you wish to unfriend " + username.username + "?", function (result) {
                    if (result) {
                        $.ajax({
                            url: href,
                            type: 'POST',
                            data: username,
                            dataType: 'json'
                        })
                        .then(function (data) {
                            repopulateFriendsList();
                        })
                        .fail(function (error) {
                            bootbox.alert("Unable to remove friend. Error: " + error.statusText);
                        });
                    }
                });
            });

            // Decline friend
            $("#page").on("click", "#decline-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (data) {
                    repopulateFriendsList();
                })
                .fail(function (error) {
                    bootbox.alert("Unable to decline friend request. Error: " + error.statusText);
                })
            });

            // Cancel request
            $("#page").on("click", "#cancel-request-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (data) {
                    repopulateFriendsList();
                })
                .fail(function (error) {
                    bootbox.alert("Unable to cancel friend request. Error: " + error.statusText);
                })
            });

            function repopulateFriendsList() {
                return new Promise((resolve, reject) => {
                    var url = '@Url.Action("GetFriendsListPartialView", "Friends", null)';

                    $.get(url, function (data) {
                        $('#friends-list-wrapper').empty().append(data);
                    })
                    .then(resolve)
                    .fail(reject)
                })
            }
        });
    </script>
}
