@model IEnumerable<TabRepository.ViewModels.FriendViewModel>
@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid list-container" style="display: flex;">
    <div id="page">
        <div id="friends-list-wrapper"></div>
    </div>
    <div id="list-loader-wrapper" class="flex-container-row">
        <div class="flex-container-col">
            <div class="list-loader"></div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            repopulateFriendsList()
                .then(function (result) {
                    $('#list-loader-wrapper').remove();
                    $('.container-fluid').show();
                    $('hr').show();
                    $('footer').show();
                })
                .catch(function (error) {
                    bootbox.alert("Unable to load friends. Error: " + error.statusText);
                });
            // Add friend
            $("#page").on("click", "#add-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("sending friend request", response.error);
                    }
                    else {
                        $(that).html("Request Sent");
                        $(that).toggleClass('btn-primary btn-default disabled pull-left');
                        $(that).parent().append('<a id="cancel-request-button" data-username="' + username.username + '" class="btn btn-danger pull-right" href="/Friends/CancelRequest">Cancel Request</a>');
                    }                 
                })
                .fail(function (error) {
                    showFailureBootbox("sending friend request", error.statusText);
                })
            });

            // Accept friend
            $("#page").on("click", "#accept-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("accepting friend request", response.error);
                    }
                    else {
                        $(that).html("Friends");
                        $(that).parent().html('<a class="btn btn-primary pull-left">Friends</a><a id="remove-friend-button" data-username="' + username.username + '" class="btn btn-danger pull-right" href="/Friends/RemoveFriend">Unfriend</a>')
                    }                   
                })
                .fail(function (error) {
                    showFailureBootbox("accepting friend request", error.statusText);
                })
            });

            // Remove friend
            $("#page").on("click", "#remove-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                bootbox.confirm("Are you sure you wish to unfriend " + username.username + "?", function (result) {
                    if (result) {
                        $.ajax({
                            url: href,
                            type: 'POST',
                            data: username,
                            dataType: 'json'
                        })
                        .then(function (response) {
                            if (response.error) {
                                showFailureBootbox("removing friend", response.error);
                            }
                            else {
                                repopulateFriendsList();
                            }
                        })
                        .fail(function (error) {
                            showFailureBootbox("removing friend", error.statusText);
                        });
                    }
                });
            });

            // Decline friend
            $("#page").on("click", "#decline-friend-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("declining friend", response.error);
                    }
                    else {
                        repopulateFriendsList();
                    }
                })
                .fail(function (error) {
                    showFailureBootbox("declining friend", error.statusText);
                })
            });

            // Cancel request
            $("#page").on("click", "#cancel-request-button", function (e, data) {
                e.preventDefault();

                var href = this.href,
                    that = this;
                username = { username: $(that).attr('data-username') };

                $.ajax({
                    url: href,
                    type: 'POST',
                    data: username,
                    dataType: 'json'
                })
                .then(function (response) {
                    if (response.error) {
                        showFailureBootbox("canceling friend request", response.error);
                    }
                    else {
                        repopulateFriendsList();
                    }
                })
                .fail(function (error) {
                    showFailureBootbox("canceling friend request", error.statusText);
                })
            });

            function repopulateFriendsList() {
                return new Promise((resolve, reject) => {
                    var url = '@Url.Action("GetFriendsListPartialView", "Friends", null)';

                    $.ajax({
                        url: url,
                        type: 'GET',
                    })
                    .then(function (response) {
                        if (response.error) {
                            showFailureBootbox("loading friend list", response.error);
                        }
                        else {
                            // If we get back empty-list, empty out any existing projects and set CSS for proper display
                            if (response.includes('empty-list')) {
                                $('#friends-list-wrapper').empty();
                                $('.list-container').append(response);
                                $('.list-container').css('display', 'flex');
                                $('#page').css('position', 'absolute');
                            }
                            else {
                                $('#page').css('position', 'static');
                                $('.list-container').css('display', 'block');
                                $('.empty-list').remove();
                                $('#friends-list-wrapper').empty().append(response);
                            }
                        }
                        resolve();
                    })
                    .fail(function (error) {
                        showFailureBootbox("loading friend list", error.statusText);
                        reject();
                    })
                })
            }
        });
    </script>
}
