<div class="flex-container-col">
    <div class="confirmation-message">
        <h2>Bug Report Submission Successful</h2>
        <div>
            <p>
                Thank you for submitting a bug report! We are looking into your issue and we will try to resolve as soon as possible.
            </p>
        </div>
    </div>
</div>