<div class="flex-container-col">
    <div class="confirmation-message">
        <h2>Issue Submitted</h2>
        <div>
            <p>
                Thank you for reporting an issue! We are looking into it and we will try to resolve as soon as possible.
            </p>
        </div>
    </div>
</div>