@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h1 style="text-align: center;">FAQs</h1>*@
<p></p>
<p></p>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">B</label>
    </div>

    <div class="col-lg-11">
        <h2>What is TabCollab beta?</h2>
        <p>
            TabCollab beta is an early-access period. During the beta, you can report any issues you find via the Bug Report form located in the navigation bar (after you log in).
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">1</label>
    </div>

    <div class="col-lg-11">
        <h2>What do I get with a Free account?</h2>
        <p>
            Free accounts come with unlimited projects and albums. You can upload up to 5 tabs or 15 tab versions (total) to your own projects. You can upload as many tab versions as you want to any projects for which you are a contributor, as long as the project owner has either a Pro or Composer account, or they have not exceeded their own 5 tab/15 tab version limit.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">2</label>
    </div>

    <div class="col-lg-11">
        <h2>What do I get with a Pro or Composer account?</h2>
        <p>
            Check out the perks of Pro and Composer accounts here: <a asp-controller="Account" asp-action="Subscribe" class="btn btn-outline-primary dashboard-button">Upgrade Account</a>
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">3</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I upgrade to a Pro or Composer account?</h2>
        <p>
            Go to the Upgrade Account page: <a asp-controller="Account" asp-action="Subscribe" class="btn btn-outline-primary dashboard-button">Upgrade Account</a>
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">4</label>
    </div>

    <div class="col-lg-11">
        <h2>When does my Pro or Composer subscription expire?</h2>
        <p>
            Your subscription will auto-renew until you cancel it.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">5</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I see how many tabs and tab versions I have currently?</h2>
        <p>
            You can see this from the Account page.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">6</label>
    </div>

    <div class="col-lg-11">
        <h2>Why can't I see the <i class="fa fa-play fa"></i> button on the Tab page for my tab versions?</h2>
        <p>
            The TabCollab player (powered by alphaTab) only supports Guitar Pro files versions 3 through 6 (.gp3, .gp4, .gp5, .gpx).
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">7</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I see my notifications?</h2>
        <p>
            Look for the <i class="fa fa-exclamation-circle" style="color: gray;"></i> icon at the top of the page. It will turn green <i class="fa fa-exclamation-circle" style="color: rgb(134, 192, 144);"></i> when you have notifications.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">8</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I find my bandmates on TabCollab?</h2>
        <p>
            Search for their username in the search bar at the top of the page. Once you find them, select Add Friend. They'll get the request and once they accept, you can add them as a contributor to projects or vice versa.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">9</label>
    </div>

    <div class="col-lg-11">
        <h2>I added a new tab to my bandmate's project, but I don't see it counting against my overall tab version count. Why?</h2>
        <p>
            Tab versions are owned by the owner of the project. This means that if you add a new tab or tab version to your bandmate's project, it counts towards their account and not yours. Likewise, any tabs or tab versions added by your bandmates to your own projects count towards your account.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">10</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I allow my bandmates to contribute to my projects?</h2>
        <p>
            You can add bandmates to your projects from the project edit screen once you are friends. Look for the <i class="fa fa-pencil fa"></i> button beneath each project on the projects page, or the Edit Project button on the Tabs page. Select the desired user from the Contributors drop down and select Save. Once you add them, they'll see your projects under the Their Projects tab on the Tab page.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">11</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I remove contributors from my projects?</h2>
        <p>
            You can remove contributors from your projects from the project edit screen. Look for the <i class="fa fa-pencil fa"></i> button beneath each project on the projects page, or the Edit Project button on the Tabs page. Select the <i class="fa fa-times fa"></i> next to the user and select Save. They'll no longer have access to the project.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">12</label>
    </div>

    <div class="col-lg-11">
        <h2>I cancelled my subscription auto-renewal - can I still contribute to my bandmates' projects?</h2>
        <p>
            You can always contribute to any projects for which you are a contributor, even if you have a free account and you have met your 50 tab limit. The tab versions you upload are owned by the owner of the project, so it counts towards their tab version count.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">13</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I renew my subscription?</h2>
        <p>
            Your subscription will auto-renew until you cancel it.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">14</label>
    </div>

    <div class="col-lg-11">
        <h2>How do I cancel my subscription?</h2>
        <p>
            You can cancel your subscription auto-renewal from the Account page.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">15</label>
    </div>

    <div class="col-lg-11">
        <h2>I need to report an issue. What do I do?</h2>
        <p>
            If you're experiencing weird behavior on the app, you may have found a bug! Report the issue using the Report Issue link at the top of the page.
        </p>
    </div>
</div>
<div class="row faq-row">
    <div class="faq-num-col col-lg-1">
        <label class="faq-num">16</label>
    </div>

    <div class="col-lg-11">
        <h2>I don't see the answer to my question here.</h2>
        <p>
            Send us an email at support@tabcollab.com with your question and we'll get back to you as soon as possible. If it's a common question, we'll add it to this page!
        </p>
    </div>
</div>
