@{

}

<div id="banner" style="position: relative">
    <img id="banner-img" src="~/images/banner_cropped.png" />
    <div class="banner-overlay banner-text-top-wrapper"><h3 class="banner-text">CREATE YOUR MUSIC</h3></div>
    <div class="banner-overlay banner-text-bottom-wrapper"><h3 class="banner-text">COMMUNITY.</h3></div>
    <hr class="banner-overlay white-divider banner-white-divider" />
</div>
<hr class="white-divider" />
<div style="display: flex; justify-content: center;">
    <div style="margin: 20px 20px 0px 20px; max-width: 1050px; text-align: justify">
        <h3 style="text-align: center">Welcome to TabCollab!</h3>
        <br />
        <p>TabCollab is a web app that serves as a workspace for your writing process. Do you have dozens and dozens of tab files named things like "new song", "new song v2", "new song v2 final", and so on? How do you keep track of which is your latest version? How do you work on these files with other musicians?</p>
        <p>With TabCollab, you can keep track of your tabs, collaborate with your bandmates and other musicians, store your tabs in the cloud, and play your tabs with any device that has a web browser. It streamlines the writing process so you can stay organized, clearly track what changes have been made to your tabs, and access your tabs from any device. TabCollab was created by musicians for musicians - create your free account and start tracking your music!
</div>
</div>
<hr class="white-divider" />
<div class="row feature-row">
    <hr class="green-divider green-divider-top" />
    <div class="green-vertical-top"></div>
</div>
<div class="row feature-row">
    <div class="col-lg-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">TRACK</span></h4>
        <p class="feature-column-text">GONE ARE THE DAYS OF SEARCHING THROUGH FOLDERS OF TABS, GUESSING AT WHICH IS YOUR LATEST VERSION.</p>
        <p class="feature-column-text">TRACK YOUR CHANGES WITH TABCOLLAB TO REVIEW ALL REVISIONS YOU'VE EVER MADE TO YOUR MUSIC, ALL IN ONE PLACE.</p>
    </div>
    <div class="col-lg-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">COLLABORATE</span></h4>
        <p class="feature-column-text">COLLABORATE WITH YOUR BANDMATES ON PROJECTS USING TABCOLLAB.</p>
        <p class="feature-column-text">NO NEED TO PASS TABS BACK AND FORTH VIA EMAIL AND MESSAGES.</p>
    </div>
    <div class="col-lg-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">PLAY</span></h4>
        <p class="feature-column-text">PLAY YOUR TABS IN THE BROWSER POWERED BY ALPHATAB&trade;.</p>
    </div>
    <div class="col-lg-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">STORE</span></h4>
        <p class="feature-column-text">STORE YOUR TABS IN THE CLOUD AND ACCESS THEM ANYWHERE.</p>
    </div>
</div>
<div class="row feature-row" style="margin-top: 0px;">
    <div class="green-vertical-bottom"></div>
    <hr class="green-divider green-divider-bottom" />
</div>
<hr class="white-divider" />

@section scripts
    {
    <script>
        $(document).ready(function () {
            $('#navbar-logo').attr('src', '/images/TabCollab_vertical_white.png');
            $('#navbar-logo').attr('height', '108');
            $('.nav-item').addClass('large-nav-item');
            $('#search-form').addClass('large-nav-item');
            $('footer').show();
            onResize();

            $('#banner-img').on('load', function () {
                $('.banner-overlay').show();
            });

            function onResize() {
                width = $(window).outerWidth();

                if (width < 1200) {
                    $('.nav-item').removeClass('large-nav-item');
                    $('#search-form').removeClass('large-nav-item');
                }
                else {
                    $('.nav-item').addClass('large-nav-item');
                    $('#search-form').addClass('large-nav-item');
                }

                if (width > 690) {
                    $('#banner-img').attr('src', '/images/banner_cropped_comp.jpg');
                    $('.banner-text-top-wrapper').html('<h3 class="banner-text">CREATE YOUR MUSIC</h3>');
                    $('.banner-text-bottom-wrapper').html('<h3 class="banner-text">COMMUNITY.</h3>');
                }
                if (width <= 690) {
                    $('#banner-img').attr('src', '/images/banner_cropped_phone_comp.jpg');
                    $('.banner-text-top-wrapper').html('<h1 class="banner-text">CREATE YOUR MUSIC</h1>');
                    $('.banner-text-bottom-wrapper').html('<h1 class="banner-text">COMMUNITY.</h1>');
                }
                if (width <= 495) {
                    $('#banner-img').attr('src', '/images/banner_cropped_phone_comp.jpg');
                    $('.banner-text-top-wrapper').html('<h2 class="banner-text">CREATE YOUR MUSIC</h2>');
                    $('.banner-text-bottom-wrapper').html('<h2 class="banner-text">COMMUNITY.</h2>');
                }
            }
            window.addEventListener("resize", onResize);
        });
    </script>
}
