@{

}

<div id="banner" style="position: relative">
    <img src="~/images/banner_cropped.png" />
    <div class="banner-text-top-wrapper"><h3 class="banner-text">CREATE YOUR MUSIC</h3></div>
    <div class="banner-text-bottom-wrapper"><h3 class="banner-text">COMMUNITY.</h3></div>
    <hr class="white-divider banner-white-divider" />
</div>
<hr class="white-divider" />

<div class="row feature-row">
    <hr class="green-divider green-divider-top" />
    <div class="green-vertical-top"></div>
</div>
<div class="row feature-row">
    <div class="col-md-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">TRACK</span></h4>
        <p class="feature-column-text">GONE ARE THE DAYS OF SEARCHING THROUGH FOLDERS OF TABS, GUESSING AT WHICH IS YOUR LATEST VERSION.</p>
        <p class="feature-column-text">TRACK YOUR CHANGES WITH TABCOLLAB TO REVIEW ALL REVISIONS YOU'VE EVER MADE TO YOUR MUSIC, ALL IN ONE PLACE.</p>
    </div>
    <div class="col-md-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">COLLABORATE</span></h4>
        <p class="feature-column-text">COLLABORATE WITH YOUR BANDMATES ON PROJECTS USING TABCOLLAB.</p>
        <p class="feature-column-text">NO NEED TO PASS TABS BACK AND FORTH VIA EMAIL.</p>
    </div>
    <div class="col-md-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">PLAY</span></h4>
        <p class="feature-column-text">PLAY YOUR TABS IN THE BROWSER POWERED BY ALPHATAB&trade;.</p>
    </div>
    <div class="col-md-3 feature-column">
        <h4 class="feature-column-title"><span class="feature-column-title-border">STORE</span></h4>
        <p class="feature-column-text">STORE YOUR TABS IN THE CLOUD SO THAT YOU CAN ACCESS THEM FROM ANYWHERE.</p>
    </div>
</div>
<div class="row feature-row" style="margin-top: 0px;">
    <div class="green-vertical-bottom"></div>
    <hr class="green-divider green-divider-bottom" />
</div>
<hr class="white-divider" />
<div style="height: 30px;"></div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $('footer').show();
        });
    </script>
}
