@using TabRepository.ViewModels
@model CreditCardFormViewModel

@{
    ViewData["Title"] = "Perks of Upgrading";
}

<div id="contributor-level-modal" class="modal fade">
    <div class="modal-dialog text-left">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contributor Level</h4>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style='text-decoration: underline'>What is Contributor Level?</h6>
                Contributor Level all comes down to how granular you want to be with your contributors' access to your material. It is the level at which contributors access your data. If the Contributor Level is Project, then the contributor has access to everything inside the Project (all Albums, all Tabs). If the Contributor Level is Tab, then the contributor only has access to the specified Tab.<br /><br />
                Composer accounts allow you to be more precise in what you allow contributors to access.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="flex-container-col">
    <div style="margin: 20px 20px 0px 20px; max-width: 1050px; text-align: justify">
        <h3 style="text-align: center">Perks of Upgrading</h3>
        <br />
        <p>We offer several different tiers of services at TabCollab. It really depends on what is best for you - for some people, a Free account is all they need. Others may want the perks of the Composer account. It's entirely up to you!</p>
    </div>
    <hr class="white-divider" />
    <div style="width: 90%">
        <hr class="green-divider green-divider-top" />
        <div class="green-vertical-top"></div>
    </div>
    <div class="row" style="margin: 0px 20px 0px 20px; max-width: 85%; text-align: justify">
        <div class="col-lg-4">
            <h5 style="text-align: center">Free</h5>
            <p>The Free account is perfect if you're wanting to give TabCollab a try. It's also great if you are not necessarily a big composer personally, but you are in bands for which you write your own parts. Maybe you're a bassist who doesn't write their own full songs, but you do want to be able to add your basslines to the tabs of your band.</p>
        </div>
        <div class="col-lg-4">
            <h5 style="text-align: center">Pro</h5>
            <p>The Pro account is for those who write their own songs, and write a lot of them. Do you consider yourself a band leader? If you want your bandmates to contribute to your music, this is the account type for you.</p>
        </div>
        <div class="col-lg-4">
            <h5 style="text-align: center">Composer</h5>
            <p>The Composer account allows for unlimited contributors at any level (Project, Album, or Tab). Maybe you have musicians with whom you are collaborating on a song, but you don't want them to have access to the entire Project. Add them as a contributor for the Tab and they'll only have access to that song.</p>
        </div>
    </div>
    <div style="width: 90%;">
        <div class="green-vertical-bottom"></div>
        <hr class="green-divider green-divider-bottom" />
    </div>
    <hr class="white-divider" />
    <table id="features-table" class="table table-striped table-dark table-hover tabversions-table features-table perk-component">
        <thead>
            <tr>
                <th width="25%"><div class="table-header"></div>Feature</th>
                <th width="25%"><div class="table-header">Free</div></th>
                <th width="25%"><div class="table-header">Pro (coming soon)</div></th>
                <th width="25%"><div class="table-header">Composer (coming soon)</div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td># of Projects</td>
                <td class="green-cell">&#8734</td>
                <td class="green-cell">&#8734</td>
                <td class="green-cell">&#8734</td>
            </tr>
            <tr>
                <td># of Albums</td>
                <td class="green-cell">&#8734</td>
                <td class="green-cell">&#8734</td>
                <td class="green-cell">&#8734</td>
            </tr>
            <tr>
                <td># of Tabs</td>
                <td>10</td>
                <td class="green-cell">&#8734</td>
                <td class="green-cell">&#8734</td>
            </tr>
            <tr>
                <td># of Tab Versions</td>
                <td>30 total</td>
                <td class="green-cell">&#8734</td>
                <td class="green-cell">&#8734</td>
            </tr>
            <tr>
                <td># of Contributors</td>
                <td>2 per Project</td>
                <td>6 per Project</td>
                <td class="green-cell">&#8734</td>
            </tr>
            <tr>
                <td>Contributor Level <i class="fa fa-question-circle fa-1" /></td>
                <td>Project</td>
                <td>Project</td>
                <td class="green-cell">Project<br />Album<br />Tab</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th width="40%"><div class="table-header"></div>Price</th>
                <th width="30%"><div class="table-header">Free</div></th>
                <th width="30%"><div class="table-header">$4.99/month<br />or<br />$49.99/year</div></th>
                <th width="30%"><div class="table-header">$9.99/month<br />or<br />$99.99/year</div></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            $('footer').show();

            $(document).on("click", ".fa-question-circle", function (e, data) {
                $('#contributor-level-modal').modal('show');
            });
        });
    </script>
}
