@model TabRepository.ViewModels.ProjectFormViewModel

@if (Model != null)
{ 
    <h2 hidden id="projectId">@Model.Id</h2>
    <h2 hidden id="projectName">@Model.Name</h2>
}

<table class="table table-bordered table-hover tabversions-table">
    <thead>
        <tr>
            <th width="5%"></th>
            <th width="30%"><div class="table-header">Description</div></th>
            <th width="15%"><div class="table-header">Contributor</div></th>
            <th width="20%"><div class="table-header">Date Added</div></th>
            <th width="10%"><div class="table-header">Version</div></th>
            <th width="20%"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
