@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="buttons-container">
        <a id="new-tab-button" data-toggle="tooltip" title="Add new tab" class="btn btn-primary pull-left" href="@Url.Action("GetProjectSelectionPartialView", "Projects")"><i class="fa fa-plus"></i></a>
    </div>

    <div class="list-loader"></div>

    <div id="tab-list-wrapper"></div>

    <div id='tab-form-modal' class='modal fade'>
        <div id='tab-form-container'>
        </div>
    </div>

    <div id='tab-version-form-modal' class='modal fade'>
        <div id='tab-version-form-container'>
        </div>
    </div>
</div>

@section scripts
{
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
$(document).ready(function () {
    repopulateTabList()
        .then(function (result) {
            $('.list-loader').remove();
            $('hr').show();
            $('footer').show();
            $(".tab-panel-sort").each(function () {
                var that = this;
                $(this).sortable({
                    containment: $(that).parent(),
                    placeholder: "placeholder",
                    cursor: "pointer"
                });
            });
            $('[data-toggle="tooltip"]').tooltip();
        })
        .catch(function (error) {
            bootbox.alert("Unable to load tabs. Error: " + error.statusText);
        });

    // Deleting an album
    $("#page").on("click", "#delete-tab-button", function (e, data) {
        e.preventDefault();
        var href = this.href;

        bootbox.confirm("Are you sure you wish to delete this tab? This cannot be undone.", function (result) {
            if (result) {
                $.ajax({
                    url: href,
                    type: 'DELETE',
                })
                .then(function (response) {
                    repopulateTabList();
                })
                .fail(function (error) {
                    bootbox.alert("Unable to delete tab. Error: " + error.statusText);
                })
            }
        });
    });

    // Show modal for new project
    $("#page").on("click", "#new-tab-button", function (e, data) {
        e.preventDefault();

        var href = this.href;

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#tab-form-container').html(data);

            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#tab-form"));

            currentModal = $('#tab-form-modal');
            currentModal.modal('show');
        })
        .fail(function (error) {
            bootbox.alert("Unable to show tab form. Error: " + error.statusText);
        })
    });

    // Show modal for edit album
    $("#page").on("click", "#edit-tab-button", function (e, data) {
        e.preventDefault();

        var href = this.href + "/?albumId=" + $(this).attr("data-album-id") + "&tabId=" + $(this).attr("data-tab-id");

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#tab-form-container').html(data);
            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#tab-form"));

            currentModal = $('#tab-form-modal');
            currentModal.modal('show');

        })
        .fail(function (error) {
            bootbox.alert("Unable to show tab form. Error: " + error.statusText);
        })
    });

    // Show modal for new tab
    $("#page").on("click", "#new-tab-version-button", function (e, data) {
        e.preventDefault();

        var href = this.href + "/?tabId=" + $(this).attr("data-tab-id");

        $.ajax({
            url: href,
            type: 'GET',
        })
            .then(function (data) {
                $('#tab-version-form-container').html(data);
                // Client side validation for dynamic modal injection
                $.validator.unobtrusive.parse($("#tab-version-form"));

                currentModal = $('#tab-version-form-modal');
                currentModal.modal('show');

            })
            .fail(function (error) {
                bootbox.alert("Unable to show tab form. Error: " + error.statusText);
            })
    });

    $("#page").on("click", ".show-items-icon-container", function (e, data) {
        $('[data-toggle="tooltip"]').tooltip();

        var that = this;

        $(this).hide();
        $(this).siblings('.tab-panel-sort').children('.item-container').show(200);
        // Wait until the expansion animation is complete to show the buttons
        setTimeout(function () {
            $(that).siblings('.tab-panel-sort').children('.item-container').children().css("visibility", "visible");
        }, 200)
        $(this).siblings('.hide-items-icon-container').show();
    });

    $("#page").on("click", ".hide-items-icon-container", function (e, data) {
        $(this).hide();
        $(this).siblings('.tab-panel-sort').children('.item-container').children().css("visibility", "hidden");
        $(this).siblings('.tab-panel-sort').children('.item-container').hide(200);
        $(this).siblings('.show-items-icon-container').show();
    });

    $("#page").on("click", ".project-selection-panel", function (e, data) {
        e.preventDefault();

        var that = this;

        // Give modal time to close
        setTimeout(function () {
            var href = "@Url.Action("GetAlbumSelectionPartialView", "Albums")" + "/?projectId=" + $(that).attr("data-project-id");

            $.ajax({
                url: href,
                type: 'GET',
            })
                .then(function (data) {
                    $('#tab-form-container').html(data);
                    // Client side validation for dynamic modal injection
                    $.validator.unobtrusive.parse($("#tab-form"));

                    currentModal = $('#tab-form-modal');
                    currentModal.modal('show');

                })
                .fail(function (error) {
                    bootbox.alert("Unable to show tab form. Error: " + error.statusText);
                })
        }, 500)
    });

    $("#page").on("click", ".album-selection-panel", function (e, data) {
        e.preventDefault();

        var that = this;

        // Give modal time to close
        setTimeout(function () {
            var href = "@Url.Action("GetTabFormPartialView", "Tabs")" + "/?albumId=" + $(that).attr("data-album-id");

            $.ajax({
                url: href,
                type: 'GET',
            })
                .then(function (data) {
                    $('#tab-form-container').html(data);
                    // Client side validation for dynamic modal injection
                    $.validator.unobtrusive.parse($("#tab-form"));

                    currentModal = $('#tab-form-modal');
                    currentModal.modal('show');

                })
                .fail(function (error) {
                    bootbox.alert("Unable to show tab form. Error: " + error.statusText);
                })
        }, 500)
    });

    $("#page").on("submit", function (e, data) {
        e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        // Show spinner on save button
        $($(document.activeElement)[0]).html('<div class="loader"></div>');

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        })
        .then(function (response) {
            currentModal.modal('hide');
            // Call GetTabListPartialView to repopulate the tab list
            repopulateTabList();
        })
        .fail(function (error) {
            currentModal.modal('hide');
            bootbox.alert("Unable to save. Error: " + error.statusText);

        })
    });

    function repopulateTabList() {
        return new Promise((resolve, reject) => {
            var url = '@Url.Action("GetTabListPartialView", "Tabs", null)';

            $.get(url, function (data) {
                $('#tab-list-wrapper').empty().append(data);
            })
            .then(resolve)
            .fail(reject)
        })
    }
});
</script>
}
