@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="buttons-container">
        @Html.ActionLink("New Tab", "GetTabFormPartialView", "Tabs", null, new { @class = "btn btn-primary", id = "new-tab-button" })
    </div>

    <div class="list-loader"></div>

    <div id="tab-list-wrapper"></div>

    <div id='album-form-modal' class='modal fade'>
        <div id='album-form-container'>
        </div>
    </div>

    <div id='tab-form-modal' class='modal fade'>
        <div id='tab-form-container'>
        </div>
    </div>

    <div id='tab-version-form-modal' class='modal fade'>
        <div id='tab-version-form-container'>
        </div>
    </div>
</div>

@section scripts
{
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
$(document).ready(function () {
    repopulateTabList()
        .then(function (result) {
            $('.list-loader').remove();
            $('hr').show();
            $('footer').show();
        })
        .catch(function (error) {
            bootbox.alert("Unable to load tabs. Error: " + error.statusText);
        });

    // Deleting an album
    $("#page").on("click", "#delete-tab-button", function (e, data) {
        e.preventDefault();
        var href = this.href;

        bootbox.confirm("Are you sure you wish to delete this tab? This cannot be undone.", function (result) {
            if (result) {
                $.ajax({
                    url: href,
                    type: 'DELETE',
                })
                .then(function (response) {
                    repopulateTabList();
                })
                .fail(function (error) {
                    bootbox.alert("Unable to delete tab. Error: " + error.statusText);
                })
            }
        });
    });

    // Show modal for new project
    $("#page").on("click", "#new-tab-button", function (e, data) {
        e.preventDefault();

        var href = this.href;

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#tab-form-container').html(data);

            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#tab-form"));

            currentModal = $('#tab-form-modal');
            currentModal.modal('show');
        })
        .fail(function (error) {
            bootbox.alert("Unable to show tab form. Error: " + error.statusText);
        })
    });

    // Show modal for edit album
    $("#page").on("click", "#edit-tab-button", function (e, data) {
        e.preventDefault();

        var href = this.href + "/?albumId=" + $(this).attr("data-album-id") + "&tabId=" + $(this).attr("data-tab-id");

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#tab-form-container').html(data);
            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#tab-form"));

            currentModal = $('#tab-form-modal');
            currentModal.modal('show');

        })
        .fail(function (error) {
            bootbox.alert("Unable to show tab form. Error: " + error.statusText);
        })
    });

    // Show modal for new tab
    $("#page").on("click", "#new-tab-version-button", function (e, data) {
        e.preventDefault();

        var href = this.href + "/?tabId=" + $(this).attr("data-tab-id");

        $.ajax({
            url: href,
            type: 'GET',
        })
            .then(function (data) {
                $('#tab-version-form-container').html(data);
                // Client side validation for dynamic modal injection
                $.validator.unobtrusive.parse($("#tab-version-form"));

                currentModal = $('#tab-version-form-modal');
                currentModal.modal('show');

            })
            .fail(function (error) {
                bootbox.alert("Unable to show tab form. Error: " + error.statusText);
            })
    });

    $("#page").on("click", ".show-buttons-icon-container", function (e, data) {
        $(this).hide();
        $(this).siblings('.item-button-container').show();
        $(this).siblings('.hide-buttons-icon-container').show();
    });

    $("#page").on("click", ".hide-buttons-icon-container", function (e, data) {
        $(this).hide();
        $(this).siblings('.item-button-container').hide();
        $(this).siblings('.show-buttons-icon-container').show();
    });

    $("#page").on("submit", function (e, data) {
        e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        // Show spinner on save button
        $($(document.activeElement)[0]).html('<div class="loader"></div>');

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        })
        .then(function (response) {
            currentModal.modal('hide');
            // Call GetTabListPartialView to repopulate the tab list
            repopulateTabList();
        })
        .fail(function (error) {
            currentModal.modal('hide');
            bootbox.alert("Unable to save. Error: " + error.statusText);

        })
    });

    function repopulateTabList() {
        return new Promise((resolve, reject) => {
            var url = '@Url.Action("GetTabListPartialView", "Tabs", null)';

            $.get(url, function (data) {
                $('#tab-list-wrapper').empty().append(data);
            })
            .then(resolve)
            .fail(reject)
        })
    }
});
</script>
}
