@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid list-container" style="display: flex;">
    <div id="page" style="position: absolute;">
        <div class="buttons-container">
            <a id="new-album-button" data-toggle="tooltip" title="Add New Album" class="white-icon pull-left add-button" href="@Url.Action("GetProjectSelectionPartialView", "Projects")"><i class="fa fa-plus fa-3x"></i></a>
        </div>

        <div id="album-list-wrapper"></div>

        <div id='album-form-modal' class='modal fade'>
            <div id='album-form-container'>
            </div>
        </div>
    </div>
    <div id="list-loader-wrapper" class="flex-container-row">
        <div class="flex-container-col">
            <div class="list-loader"></div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
$(document).ready(function () {
    repopulateAlbumList()
        .then(function (result) {
            $('#list-loader-wrapper').remove();
            $('.container-fluid').show();
            $('hr').show();
            $('footer').show();
        })
        .catch(function (error) {
            bootbox.alert("Unable to load albums. Error: " + error.statusText);
        });

    // Only show tooltips on non-touchscreens
    if (!('ontouchstart' in window)) {
        $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
    }

    // Deleting an album
    $("#page").on("click", "#delete-album-button", function (e, data) {
        e.preventDefault();

        var href = this.href,
            that = this;

        bootbox.prompt("Confirm Delete", function (result) {
            if (result == $(that).attr("data-name")) {
                $.ajax({
                    type: 'DELETE',
                    dataType: 'json',
                    traditional: 'true',
                    url: href
                })
                .then(function (response) {
                    if (!response.success) {
                        bootbox.alert("Unable to delete.");
                    }
                    else {
                        repopulateAlbumList();
                    }
                })
            }
            else if (result != null) {
                bootbox.alert("Name did not match.");
            }
        });

        // CSS change to make the title display properly and add prompt text
        $('.modal-header').css('display', 'unset')
        $('.bootbox-body').prepend("<p>Are you sure you wish to delete this album? This cannot be undone.<br />Confirm by typing the albums's name below:</p>")
    });

    // Show modal for new project
    $("#page").on("click", "#new-album-button", function (e, data) {
        e.preventDefault();

        var href = this.href;

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#album-form-container').html(data);

            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#album-form"));

            currentModal = $('#album-form-modal');
            currentModal.modal('show');
        })
        .fail(function (error) {
            bootbox.alert("Unable to show album form. Error: " + error.statusText);
        })
    });

    // Show modal for edit album
    $("#page").on("click", "#edit-album-button", function (e, data) {
        e.preventDefault();

        var href = this.href + "?projectId=" + $(this).attr("data-project-id") + "&albumId=" + $(this).attr("data-album-id");

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#album-form-container').html(data);
            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#album-form"));

            currentModal = $('#album-form-modal');
            currentModal.modal('show');

        })
        .fail(function (error) {
            bootbox.alert("Unable to show album form. Error: " + error.statusText);
        })
    });

    $("#page").on("click", ".show-buttons-icon", function (e, data) {
        // Only show tooltips on non-touchscreens
        if (!('ontouchstart' in window)) {
            $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
        }

        var parent = $(this).parent();

        $(parent).hide();
        $(parent).siblings('.item-container').show(200);
        // Wait until the expansion animation is complete to show the buttons
        setTimeout(function () {
            $(parent).siblings('.item-container').children().css("visibility", "visible");
        }, 200)
        $(parent).siblings('.hide-items-icon-container').show();
    });

    $("#page").on("click", ".hide-buttons-icon", function (e, data) {

        var parent = $(this).parent();

        $(parent).hide();
        $(parent).siblings('.item-container').children().css("visibility", "hidden");
        $(parent).siblings('.item-container').hide(200);
        $(parent).siblings('.show-items-icon-container').show();
    });

    $("#page").on("click", ".project-selection-panel", function (e, data) {
        e.preventDefault();

        var that = this;

        // Give modal time to close
        setTimeout(function () {
            var href = "@Url.Action("GetAlbumFormPartialView", "Albums")" + "/?projectId=" + $(that).attr("data-project-id");

            $.ajax({
                url: href,
                type: 'GET',
            })
            .then(function (data) {
                $('#album-form-container').html(data);
                // Client side validation for dynamic modal injection
                $.validator.unobtrusive.parse($("#album-form"));

                currentModal = $('#album-form-modal');
                currentModal.modal('show');

            })
            .fail(function (error) {
                bootbox.alert("Unable to show album form. Error: " + error.statusText);
            })
        }, 500)
    });

    $("#page").on("submit", function (e, data) {
        e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        // Show spinner on save button
        $('.button-save').html('<div class="loader"></div>');

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        })
        .then(function (response) {
            currentModal.modal('hide');
            // Call GetAlbumListPartialView to repopulate the project list
            repopulateAlbumList();
        })
        .fail(function (error) {
            currentModal.modal('hide');
            bootbox.alert("Unable to show project form. Error: " + error.statusText);

        })
    });

    function handleSaveError(statusCode) {
        bootbox.alert("Unable to save. Error code: " + statusCode);
    }

    function repopulateAlbumList() {
        return new Promise((resolve, reject) => {
            var url = '@Url.Action("GetAlbumListPartialView", "Albums", null)';

            $.get(url, function (data) {
                // If we get back empty-list, empty out any existing projects and set CSS for proper display
                if (data.includes('empty-list')) {
                    $('#album-list-wrapper').empty();
                    $('.list-container').append(data);
                    $('.list-container').css('display', 'flex');
                    $('#page').css('position', 'absolute');
                }
                else {
                    $('#page').css('position', 'static');
                    $('.list-container').css('display', 'block');
                    $('.empty-list').remove();
                    $('#album-list-wrapper').empty().append(data);
                }
            })
            .then(resolve)
            .fail(reject)
        })
    }
});
    </script>
}





