@{
ViewBag.Title = "Albums";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="buttons-container">
        <a id="new-album-button" data-toggle="tooltip" title="Add new album" class="white-icon pull-left add-button" href="@Url.Action("GetProjectSelectionPartialView", "Projects")"><i class="fa fa-plus fa-3x"></i></a>
    </div>

    <div class="list-loader"></div>

    <div id="album-list-wrapper"></div>

    <div id='album-form-modal' class='modal fade'>
        <div id='album-form-container'>
        </div>
    </div>
</div>

@section scripts
{
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
$(document).ready(function () {
    repopulateAlbumList()
        .then(function (result) {
            $('.list-loader').remove();
            $('hr').show();
            $('footer').show();
        })
        .catch(function (error) {
            bootbox.alert("Unable to load albums. Error: " + error.statusText);
        });

    $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" }); 

    // Deleting an album
    $("#page").on("click", "#delete-album-button", function (e, data) {
        e.preventDefault();
        var href = this.href;

        bootbox.confirm("Are you sure you wish to delete this album? This cannot be undone.", function (result) {
            if (result) {
                $.ajax({
                    url: href,
                    type: 'DELETE',
                })
                .then(function (response) {
                    repopulateAlbumList();
                })
                .fail(function (error) {
                    bootbox.alert("Unable to delete album. Error: " + error.statusText);
                })
            }
        });
    });

    // Show modal for new project
    $("#page").on("click", "#new-album-button", function (e, data) {
        e.preventDefault();

        var href = this.href;

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#album-form-container').html(data);

            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#album-form"));

            currentModal = $('#album-form-modal');
            currentModal.modal('show');
        })
        .fail(function (error) {
            bootbox.alert("Unable to show album form. Error: " + error.statusText);
        })
    });

    // Show modal for edit album
    $("#page").on("click", "#edit-album-button", function (e, data) {
        e.preventDefault();

        var href = this.href + "?projectId=" + $(this).attr("data-project-id") + "&albumId=" + $(this).attr("data-album-id");

        $.ajax({
            url: href,
            type: 'GET',
        })
        .then(function (data) {
            $('#album-form-container').html(data);
            // Client side validation for dynamic modal injection
            $.validator.unobtrusive.parse($("#album-form"));

            currentModal = $('#album-form-modal');
            currentModal.modal('show');

        })
        .fail(function (error) {
            bootbox.alert("Unable to show album form. Error: " + error.statusText);
        })
    });

    $("#page").on("click", ".show-items-icon-container", function (e, data) {
        $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });

        var that = this;

        $(this).hide();
        $(this).siblings('.item-container').show(200);
        // Wait until the expansion animation is complete to show the buttons
        setTimeout(function () {
            $(that).siblings('.item-container').children().css("visibility", "visible");
        }, 200)
        $(this).siblings('.hide-items-icon-container').show();
    });

    $("#page").on("click", ".hide-items-icon-container", function (e, data) {
        $(this).hide();
        $(this).siblings('.item-container').children().css("visibility", "hidden");
        $(this).siblings('.item-container').hide(200);
        $(this).siblings('.show-items-icon-container').show();
    });

    $("#page").on("click", ".project-selection-panel", function (e, data) {
        e.preventDefault();

        var that = this;

        // Give modal time to close
        setTimeout(function () {
            var href = "@Url.Action("GetAlbumFormPartialView", "Albums")" + "/?projectId=" + $(that).attr("data-project-id");

            $.ajax({
                url: href,
                type: 'GET',
            })
            .then(function (data) {
                $('#album-form-container').html(data);
                // Client side validation for dynamic modal injection
                $.validator.unobtrusive.parse($("#album-form"));

                currentModal = $('#album-form-modal');
                currentModal.modal('show');

            })
            .fail(function (error) {
                bootbox.alert("Unable to show album form. Error: " + error.statusText);
            })
        }, 500)
    });

    $("#page").on("submit", function (e, data) {
        e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        // Show spinner on save button
        $('.button-save').html('<div class="loader"></div>');

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        })
        .then(function (response) {
            currentModal.modal('hide');
            // Call GetAlbumListPartialView to repopulate the project list
            repopulateAlbumList();
        })
        .fail(function (error) {
            currentModal.modal('hide');
            bootbox.alert("Unable to show project form. Error: " + error.statusText);

        })
    });

    function handleSaveError(statusCode) {
        bootbox.alert("Unable to save. Error code: " + statusCode);
    }

    function repopulateAlbumList() {
        return new Promise((resolve, reject) => {
            var url = '@Url.Action("GetAlbumListPartialView", "Albums", null)';

            $.get(url, function (data) {
                $('#album-list-wrapper').empty().append(data);
            })
            .then(resolve)
            .fail(reject)
        })
    }
});
</script>
}





