html, body, .container {
    height: 100%;
}

#treeTableContainer {
    height: 90%;
    display: flex;
    margin: auto;
}

.jstree {
    flex: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

#splitter {
    width: 10px;
}

#tab-versions-table-container {
    width:80%;
}

#new-tab-button-container {
    margin-left: auto;
    margin-right: 10px;
}

#new-album-button-container {
    margin-left: 10px;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 10px;
    cursor: row-resize;
}

.treeWrapperContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    overflow: hidden;
}

.treeWrapperTop {
    flex: 0 0 auto;
    height: 50%;
    border: 1px solid silver;
    width: 100%;
    overflow: auto;
}

.treeWrapperBottom {
    flex: 1 1 auto;
    height: 50%;
    border: 1px solid silver;
    width: 100%;
    overflow: auto;
}

.treeLabel {
    background-color: dimgrey;
    display: inline;
    border-radius: 0px 10px 0px 0px;
}