html {
    height: 100%;
    background-color: black;
}

body {
    /*padding-top: 50px;*/
    background-color: black;
    padding-bottom: 20px;
    height: 100%;
    color: white;
}

.body-content {
    background-color: black;
}

footer {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.container-fluid {
    min-height: 100%;
}

.dashboard-container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#page {
    min-height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }   
}

@media (min-width: 1730px) {
    .container {
        width: 1700px;
    }
}

@media (max-width: 1220px) {
    .banner-text-top-wrapper {
        bottom: 250px !important;
    }
    .banner-text-bottom-wrapper {
        bottom: 180px !important;
    }
    .banner-white-divider {
        bottom: 130px!important;
    }
}

@media (max-width: 1030px) {
    .banner-text-top-wrapper {
        bottom: 200px !important;
        width: 330px !important;
    }

    .banner-text-bottom-wrapper {
        bottom: 130px !important;
        width: 198px !important;
        margin-right: 172px !important;
    }

    .banner-white-divider {
        bottom: 80px !important;
        margin-right: 189px !important;
        width: 179px !important;
    }
}

@media (max-width: 880px) {
    .banner-text-top-wrapper {
        bottom: 150px !important;
    }

    .banner-text-bottom-wrapper {
        bottom: 80px !important;
    }

    .banner-white-divider {
        bottom: 30px !important;
    }
}

@media (max-width: 690px) {
    .banner-text-top-wrapper {
        bottom: 210px !important;
        margin-right: 151px !important;
        width: 426px !important;
        background-color: transparent !important;
    }

    .banner-text-bottom-wrapper {
        bottom: 157px !important;
        width: 276px !important;
        margin-right: 301px !important;
        background-color: transparent !important;
    }

    .banner-white-divider {
        display: none !important;
    }
    .banner-text {
        color: rgb(134,192,144) !important;
        text-shadow: 1px 1px 2px black !important;
    }
}

@media (max-width: 600px) {
    .banner-text-top-wrapper {
        bottom: 168px !important;
        margin-right: 50px !important;
    }

    .banner-text-bottom-wrapper {
        bottom: 115px !important;
        margin-right: 200px !important;
    }
}

@media (max-width: 495px) {
    .banner-text-top-wrapper {
        bottom: 125px !important;
        right: unset !important;
        width: 330px !important;
    }

    .banner-text-bottom-wrapper {
        bottom: 92px !important;
        right: unset !important;
        width: 330px !important;
    }
}

.navbar-form .input-group {
    position: relative;
    display: flex;
}

.nav-link:hover {
    cursor: pointer;
}

.large-nav-item {
    margin-top: 75px !important;
}

.top-nav {
    margin-bottom: 0px;
}

.bottom-nav {
    margin-top: 0px;
}

.nav-dropdown {
    background-color: black;
}

.navbar-collapse.collapse.show {
    max-height: 280px;
    overflow-y: auto;
}

.navbar-collapse.collapse.show .notifications {
    width: 100%;
    max-width: 100% !important;
    top: 25%;
    z-index: 100;
}

.navbar-collapse.collapsing {
    max-height: 280px;
    overflow-y: auto;
}

#search-form {
    position: relative;
}

.search-results {
    position: absolute;
    /*This is relative to the search-form in the navbar*/
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
}

.search-btn {
    width: auto !important;
}

#search-input {
    margin-right: 0px !important;
    width: 100%;
}

.input-group-addon:hover {
    cursor: pointer;
}

.list-group-item {
    background-color: rgb(66,66,66) !important;
    color: white !important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.search-results li {
    height: 40px;
    padding: 10px 15px;
}

#banner {
    width: 100%;
}

#banner > img {
    max-width: 100%;
}

.card {
    max-width: 350px;
    min-width: 290px;
    background-color: #222222;
    border: solid 1px grey;
    border-radius: initial;
}

.card-header {
    border-radius: initial;
}

.album-panel, .tab-panel, .tabversion-panel {
    max-width: 100% !important;
    min-width: unset !important;
}

.card-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.card-header {
    padding: 10px 15px;
    border-bottom: solid 1px grey;
    height: 300px !important;
    background-position: center;
}

.card-profile .card-header {
    height: 200px;
    background-size: cover;
}

.card-header {
    color: #333;
    background-color: #f5f5f5;
}

.card-body .card-buttons {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border: 1px solid black;
}

.card-body {
    background-color: rgb(34,34,34);
}

.card-body h3 {
    margin: 0;
}

.card {
    margin-bottom: 40px;
}

.card-body {
    word-wrap: break-word;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.buttons-container {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.edit-button-icon {
    margin-left: 2px;
}

.button-save {
    width: 56px;
    height: 38px;
}

.button-submit-wide {
    width: 280px;
    height: 38px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.form-center {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.center-form-outer-container {
    display: table;
    height: 100%;
    width: 100%;
}

.center-form-inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.form-label {
    text-align: left;
}

/*loader animations for loading lists and for saving*/
.loader {
    margin: auto;
    position: center;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid rgb(134, 192, 144); /* Green */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-size: 10px;
    animation: spin 2s linear infinite;
}

.list-loader {
    margin: auto auto auto auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid rgb(134, 192, 144); /* Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*animate the lists*/
.list-row {
    position: relative;
    animation-name: list-load;
    animation-duration: .5s;
}

@keyframes list-load {
    0% {
        top: 200px;
    }

    100% {
        top: 0px;
    }
}

/*button container for edit and delete buttons on projects, albums, and tabs*/
.item-container {
    display: none;
    width: 100%;
    overflow: hidden;
}

#reset-password-container {
    height: 100%;
}

#forgot-password-container {
    height: 100%;
}

.show-buttons-icon, .hide-buttons-icon {
    cursor: pointer;
}

.hide-items-icon-container {
    margin-top: 10px;
    display: none;
}

.contributor-btn {
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.contributor-text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.contributor-x {
    padding-left: 7px;
    padding-top: 4px;
}

.contributor-btn:hover {
    color: #ffffff !important;
    background-color: #424242 !important;
    border-color: #424242 !important;
}

.contributor-btn:hover .fa-times {
    opacity: 0.6;
}

.tab-panel {
    background-color: rgb(66,66,66);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    width: 100%;
}

.tabversion-panel {
    background-color: rgb(24,24,24);
}

.white-icon {
    color: white;
}

.white-icon:hover {
    color: white;
    opacity: .5;
}

.white-icon:focus {
    color: white;
}

.list-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.selection-panel {
    background-color: rgb(66,66,66);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.selection-panel:active {
    opacity: 0.5;
}

.selection-panel:hover {
    cursor: pointer;
}

.tab-panel-row {
    width: 100%; 
    margin:0 auto; 
    visibility: hidden;
}

.placeholder {
    height: 75px;
}

.form-input {
    /*max-width: 280px;*/
}

.notifications {
    position: absolute;
    border: 1px solid silver;
    background-color: silver;
    top: 100%;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, 26px); /* This is a shorthand of translateX(-50%) and translateY(30%) */
    max-width: 400px;
    z-index: 1;
    max-height: 400px;
    overflow-y: scroll;
}

.notifications-btn:hover {
    cursor: pointer;
}

.clear-btn {
    color: black;
    margin-right: 13px;
}

.notification-delete-btn:hover {
    opacity: 0.6;
}

.selection-modal {
    max-width: 400px;
}

.form-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.add-button {
    margin-bottom: 10px;
}

.flex-container-col {
    min-height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container-row {
    min-height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#change-password-container {
    height: 100%;
}

.tabversion-user-image {
    border-radius: 50%;
    width: 100%;
}

.feature-row {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.feature-column {
    padding: 10px;
    background-color: black;
}

.feature-column-title {
    text-align: center;
    margin-bottom: 40px;
}

.feature-column-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
}

.feature-column-title-border {
    border: 1px white solid;
    padding: 10px;
}

.white-divider {
    background-color: white !important;
    color: white !important;
    border: solid 1px white !important;
    height: 3px !important;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.green-divider {
    background-color: rgb(134,192,144) !important;
    color: rgb(134,192,144) !important;
    border: thin 1px rgb(134,192,144) !important;
    height: 1px !important;
    width: 100%;
}

.green-divider-top {
    margin-top: 10px;
    margin-bottom: 0px;
}

.green-divider-bottom {
    margin-top: 0px;
    margin-bottom: 10px;
}

.green-vertical-top {
    border-left: 1px solid rgb(134,192,144);
    height: 40px;
}

.green-vertical-bottom {
    border-right: 1px solid rgb(134,192,144);
    height: 40px;
    width: 100%;
}

.banner-text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.banner-overlay {
    display: none;
}

.banner-text-top-wrapper {
    position: absolute;
    bottom: 320px;
    width: 550px;
    text-align: left;
    right: 0;
    background-color: rgb(134,192,144);
    margin-right: 40px;
}

.banner-text-bottom-wrapper {
    position: absolute;
    bottom: 250px;
    width: 300px;
    text-align: left;
    right: 0;
    background-color: rgb(134,192,144);
    margin-right: 290px;
}

.banner-white-divider {
    position: absolute;
    bottom: 200px;
    right: 0;
    margin-right: 320px;
    width: 268px;
}

.form-control {
    border-radius: 0px !important;
}

.navbar-dark {
    background-color: black !important;
}

#search-input {
    background-color: black;
    border-color: rgb(134,192,144);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(134,192,144);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(134,192,144);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(134,192,144);
}

.modal-content {
    position: relative;
    background-color: #202020;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.close {
    color: #fff !important;
    text-decoration: none !important;
    opacity: 0.4 !important;
}

.close:hover, .close:focus {
    color: #fff !important;
    opacity: 1 !important;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #282828;
}

.modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #282828;
}

.file-input {
    width: 100%;
}

#FileData {
    max-width: 100%;
}

.btn {
    border-radius: unset !important;
}

.btn.disabled {
    pointer-events: none !important;
}

.btn-primary {
    color: #ffffff !important;
    background-color: rgb(134, 192, 144) !important;
    border-color: rgb(134, 192, 144) !important;
}

.btn-primary:hover {
    color: #ffffff !important;
    background-color: rgb(114, 182, 125) !important;
    border-color: rgb(114, 182, 125) !important;
}

.btn-default {
    color: #ffffff !important;
    background-color: #424242 !important;
    border-color: #424242 !important;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #ffffff !important;
    background-color: #161616 !important;
    border-color: #020202 !important;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-image: none !important;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #ffffff !important;
    background-color: #282828 !important;
    border-color: #232323 !important;
}

.btn-default:hover {
    color: #ffffff !important;
    background-color: #282828 !important;
    border-color: #232323 !important;
}

.btn:active, .btn.active {
    outline: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #ffffff !important;
    text-decoration: none !important;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: transparent;
    float: left;
    /* border: none; */
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(134, 192, 144) !important;
    border-color: rgb(134, 192, 144) !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #ffffff !important;
    background-color: rgb(134, 192, 144) !important;
    border-color: rgb(134, 192, 144) !important;
}

/* Create an active/current tablink class */
.tab button.active {
    color: #ffffff !important;
    background-color: rgb(134, 192, 144) !important;
    border-color: rgb(134, 192, 144) !important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#tree-table-container {
    height: 85%;
    display: flex;
    margin: auto;
}

.jstree {
    flex: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.jstree-context {
    background: unset !important;
    box-shadow: unset !important;
}

#splitter {
    width: 10px;
    cursor: col-resize;
    min-width: 10px;
}

#tabversions-table-container {
    display: flex;
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-x: hidden;
    height: 90%;
}

#terms-btn:hover, #privacy-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.link {
    color: rgb(134, 192, 144) !important;
}

#new-tabversion-button-container {
    margin-left: 12px;
}

#new-project-button, #edit-project-button {
    margin-right: 10px;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 10px;
    cursor: row-resize;
}

.tree-wrapper-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    overflow: hidden;
}

.tree-wrapper-my-projects, .tree-wrapper-their-projects {
    flex: 0 0 auto;
    height: 90%;
    border: 1px solid silver;
    width: 100%;
    overflow: auto;
    background-color: rgb(24, 24, 24);
}

.treeLabel {
    background-color: transparent;
    display: inline;
}

.jstree-default .jstree-clicked {
    color: black;
    background-color: rgb(93, 93, 93) !important;
}

.jstree-anchor:hover {
    color: black;
    background-color: darkgrey !important;
}

td {
    word-wrap: break-word;
    max-width: 1px;
}

#dashboard {
    height: 100%;
}

.table-header {
    word-wrap: break-word;
}

.tabversions-table {
    table-layout: fixed;
    margin-bottom: 0px;
}

.table-dark {
    background-color: rgb(24,24,24) !important;
}

.dashboard-button {
    margin-bottom: 10px;
}

.projects-container {
    padding-top: 15px;
}

.validation-summary-errors, .validation-summary-valid {
    text-align: left;
    color: red; 
}

.error-summary {
    color: red;
    text-align: left;
}

.faq-num {
    background: linear-gradient(to right, rgb(134, 192, 144), rgb(134, 192, 144));
    color: #FFFFFF;
    display: inline-table;
    font-size: 130%;
    font-weight: 600;
    left: -1.6em;
    line-height: 1.9em;
    text-align: center;
    top: -0.4em;
    width: 1.9em;
    height: 1.9em;
    border-radius: 50%;
}

.faq-header {
    display: inline;
}

.faq-num-col {
    text-align: center;
    transform: translateY(15%);
}

.faq-row {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#register-form {
    flex-grow: 1;
    max-width: 600px;
}

#payment-form {
    flex-grow: 1;
    max-width: 600px;
}

#paypal-form {
    margin-bottom: 10px;
}

.row-no-margin {
    margin-right: unset;
    margin-left: unset;
}

.credit-card {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-outline-primary {
    color: rgb(134, 192, 144) !important;
    border-color: rgb(134, 192, 144) !important;
}

.btn-outline-primary:hover {
    color: #ffffff !important;
    background-color: rgb(134, 192, 144) !important;
    border-color: rgb(134, 192, 144) !important;
}

.btn-outline-primary.checked {
    color: #ffffff !important;
    background-color: rgb(134, 192, 144) !important;
    border-color: rgb(134, 192, 144) !important;
}

.transparent {
    opacity: 0.2;
}

#profile-form {
    text-align: left;
}

.credit-cards-container {
    display: flex;
}

#credit-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.white-icon {
    cursor: pointer;
}

.tab {
    height: 30px;
}

.btn-tab {
    padding-top: unset !important;
    padding-bottom: unset !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 30px;
    border-bottom: none;
}

.btn-subscribe {
    color: #ffffff !important;
    background-color: rgb(255, 196, 57) !important;
    border-color: rgb(255, 196, 57) !important;
    width: 310px;
    height: 41px;
}

.btn-subscribe:hover {
    opacity: 0.8;
}

.btn-paypal-img {
    width: 280px;
}

.g-recaptcha-register {
    transform: scale(0.89);
    -webkit-transform: scale(0.89);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.g-recaptcha-login {
    transform: scale(0.93);
    -webkit-transform: scale(0.93);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

#cookieConsent {
    color: white;
    background-color: rgb(134, 192, 144);
    border-color: rgb(134, 192, 144);
    border-radius: initial;
}

.accept-policy {
    height: 100%;
    opacity: initial !important;
}

.cookie-link {
    color: white;
    text-decoration: underline;
}

.cookie-link:hover {
    color: white;
}