html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    color: white;
}

footer {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.dashboard-container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#page {
    min-height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }   
}

@media (min-width: 1730px) {
    .container {
        width: 1700px;
    }
}

.navbar-form .input-group {
    position: relative;
    display: flex;
}

.navbar-collapse {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.top-nav {
    margin-bottom: 0px;
}

.bottom-nav {
    margin-top: 0px;
}

.search-results {
    position: absolute;
    /*This is relative to the search-form in the navbar*/
    left: 0;
    right: 0;
    top: 100%;
}

.search-btn {
    width: auto !important;
}

.input-group-addon:hover {
    cursor: pointer;
}

.list-group-item {
    background-color: rgb(66,66,66) !important;
    color: white !important;
}

.search-results li {
    height: 40px;
    padding: 10px 15px;
}

#banner {
    width: 100%;
}

#banner > img {
    max-width: 100%;
}

.panel {
    max-width: 350px;
}

.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 300px !important;
    background-position: center;
}

.panel-profile .panel-heading {
    height: 200px;
    background-size: cover;
}

.panel-default .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body .panel-buttons {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border: 1px solid black;
}

.panel-body h3 {
    margin: 0;
}

.panel-body {
    word-wrap: break-word;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.buttons-container {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.edit-button-icon {
    margin-left: 2px;
}

.button-save {
    width: 56px;
    height: 38px;
}

.button-submit-wide {
    width: 280px;
    height: 38px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.form-center {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.center-form-outer-container {
    display: table;
    height: 100%;
    width: 100%;
}

.center-form-inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.form-label {
    text-align: left;
}

/*loader animations for loading lists and for saving*/
.loader {
    margin: auto;
    position: center;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid rgb(66,66,66); /* Dark grey */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-size: 10px;
    animation: spin 2s linear infinite;
}

.list-loader {
    margin: 100px auto auto auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid rgb(66,66,66); /* Dark grey */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*animate the lists*/
.list-row {
    position: relative;
    animation-name: list-load;
    animation-duration: .5s;
}

@keyframes list-load {
    0% {
        top: 200px;
    }

    100% {
        top: 0px;
    }
}

/*button container for edit and delete buttons on projects, albums, and tabs*/
.item-container {
    display: none;
    width: 100%;
    overflow: hidden;
}

#reset-password-container {
    height: 100%;
}

#forgot-password-container {
    height: 100%;
}

.show-items-icon-container {
    cursor: pointer; 
}

.hide-items-icon-container {
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

.contributor-btn {
    margin-right: 10px;
    margin-top: 10px;
    display: flex; 
}

.contributor-text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
    text-align: left;
}

.contributor-btn:hover {
    color: #ffffff !important;
    background-color: #424242 !important;
    border-color: #424242 !important;
}

.contributor-btn:hover .fa-times {
    opacity: 0.6;
}

.tab-panel {
    /*background-color: #19262B;*/
    background-color: rgb(66,66,66);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
}

.tabversion-panel {
    background-color: #040303;
    border-color: #666666;
}

.white-icon {
    color: white;
}

.white-icon:hover {
    color: white;
    opacity: .5;
}

.white-icon:focus {
    color: white;
}

.list-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.selection-panel {
    background-color: rgb(66,66,66);
}

.selection-panel:active {
    opacity: 0.5;
}

.selection-panel:hover {
    cursor: pointer;
}

.modal-dialog {
    max-width: 325px;
}

.tab-panel-row {
    width: 100%; 
    margin:0 auto; 
    visibility: hidden;
}

.placeholder {
    height: 75px;
}

.manage-wrapper {
    margin-top: 40px;
}

.form-input {
    max-width: 280px;
}

.notification-item {
    text-align: right;
}

.notifications {
    position: absolute;
    border: 1px solid silver;
    background-color: silver;
    top: 100%;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, 26px); /* This is a shorthand of translateX(-50%) and translateY(30%) */
}

.notifications-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    .notifications {
        width: 100%;
        top: 25%;
        z-index: 100;
    }
}

.clear-btn {
    color: black;
    margin-right: 13px;
}

.notification-delete-btn:hover {
    opacity: 0.6;
}

.selection-modal {
    max-width: 400px;
}

.form-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.add-button {
    margin-bottom: 10px;
}

#register-container {
    min-height: 100%;
}

#change-password-container {
    height: 100%;
}

.tabversion-user-image {
    border-radius: 50%;
    width: 100%;
}

.feature-row {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.feature-column {
    padding: 10px;
    background-color: black;
}

.feature-column-title {
    text-align: center;
    margin-bottom: 40px;
}

.feature-column-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
}

.feature-column-title-border {
    border: 1px white solid;
    padding: 10px;
}

@media (max-width: 800px) {
    .feature-row {
        display: inline;
    }
}

.white-divider {
    background-color: white !important;
    color: white !important;
    border: solid 1px white !important;
    height: 3px !important;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.green-divider {
    background-color: rgb(134,192,144) !important;
    color: rgb(134,192,144) !important;
    border: thin 1px rgb(134,192,144) !important;
    height: 1px !important;
    width: 100%;
}

.green-divider-top {
    margin-top: 10px;
    margin-bottom: 0px;
}

.green-divider-bottom {
    margin-top: 0px;
    margin-bottom: 10px;
}

.green-vertical-top {
    border-left: 1px solid rgb(134,192,144);
    height: 40px;
}

.green-vertical-bottom {
    border-right: 1px solid rgb(134,192,144);
    height: 40px;
}

.banner-text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.banner-text-top-wrapper {
    position: absolute;
    /*bottom: 75%;*/
    bottom: 320px;
    width: 550px;
    text-align: left;
    right: 0;
    background-color: rgb(134,192,144);
    margin-right: 40px;
}

.banner-text-bottom-wrapper {
    position: absolute;
    /*bottom: 58%;*/
    bottom: 250px;
    width: 300px;
    text-align: left;
    right: 0;
    background-color: rgb(134,192,144);
    margin-right: 290px;
}

.banner-white-divider {
    position: absolute;
    /*bottom: 45%;*/
    bottom: 200px;
    right: 0;
    margin-right: 320px;
}