<div class="center-form-outer-container" align="center">
    <div class="center-form-inner-container">
        <h2>Password Change Successful</h2>
        <div>
            <p>
                You have successfully changed your password.
            </p>
        </div>
    </div>
</div>