@model ChangePasswordViewModel

<div class="flex-container-col">
    <h2>Change Password</h2>
    <form asp-controller="Manage" asp-action="ChangePassword" method="post" id="change-password-form" class="form-horizontal form-center">
        <div class="form-group">
            <div class="form-label">
                <label asp-for="OldPassword"></label>
            </div>
            <input asp-for="OldPassword" class="form-control form-input" />
            <div class="form-label">
                <span asp-validation-for="OldPassword" style="color: red"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label asp-for="NewPassword"></label>
            </div>
            <input asp-for="NewPassword" class="form-control form-input" />
            <div class="form-label">
                <span asp-validation-for="NewPassword" style="color: red"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label asp-for="ConfirmPassword"></label>
            </div>
            <input asp-for="ConfirmPassword" class="form-control form-input" />
            <div class="form-label">
                <span asp-validation-for="ConfirmPassword" style="color: red"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default button-submit-wide">Change Password</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}