@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div id="change-password-container">
    <div class="center-form-outer-container">
        <div class="center-form-inner-container">
            <h2>Change Password</h2>
            <form asp-controller="Manage" asp-action="ChangePassword" method="post" id="change-password-form" class="form-horizontal form-center">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="OldPassword"></label>
                    </div>
                    <input asp-for="OldPassword" class="form-control form-input" />
                    <span asp-validation-for="OldPassword"></span>
                </div>
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="NewPassword"></label>
                    </div>
                    <input asp-for="NewPassword" class="form-control form-input" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <div class="form-label">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control form-input" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default button-submit-wide">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
$(document).ready(function () {
    $(document).on("submit", function (e, data) {
        // Show spinner on reset button
        $('.button-submit-wide').html('<div class="loader"></div>');

        e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        })
            .then(function (data) {
                $('.button-submit-wide').html('Change Password');
                $('#change-password-container').html(data);
                $.validator.unobtrusive.parse($("#change-password-form"));
            })
            .fail(function (error) {
                bootbox.dialog({
                    message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                    buttons: {
                        confirm: {
                            label: 'Close',
                            className: 'btn-default'
                        },
                    }
                });
            });
    });

    $(document).on('hidden.bs.modal', function () {
        $('.button-submit-wide').html('Change Password');
    });
});
</script>
}
