@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div id="change-password-container">
    <div class="flex-container-col">
        <h2>Change Password</h2>
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" id="change-password-form" class="form-horizontal form-center">
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="OldPassword"></label>
                </div>
                <input asp-for="OldPassword" class="form-control form-input" />
                <div class="form-label">
                    <span asp-validation-for="OldPassword" style="color: red"></span>
                    <span id="password-error" class="validation-error" style="color: red"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="NewPassword"></label>
                </div>
                <input asp-for="NewPassword" class="form-control form-input" />
                <div class="form-label">
                    <span asp-validation-for="NewPassword" style="color: red"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <input asp-for="ConfirmPassword" class="form-control form-input" />
                <div class="form-label">
                    <span asp-validation-for="ConfirmPassword" style="color: red"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default button-submit-wide">Change Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
$(document).ready(function () {
    $('#change-password-container').on("submit", function (e, data) {
        $('.validation-error').html('');
        // Show spinner on reset button
        $('.button-submit-wide').html('<div class="loader"></div>');
        $('.button-submit-wide').addClass('disabled');

        e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        $.ajax({
            url: form.action,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        }).then(function (response) {
            enableSubmitButton();
            if (response.error) {
                if (response.error.toLowerCase().includes('password')) {
                    $('#password-error').html(response.error);
                }
                else {
                    showFailureBootbox("changing your password", response.error);
                }                
            }
            else {
                $('#change-password-container').html(response);
                $.validator.unobtrusive.parse($("#change-password-form"));
            }
        }).fail(function (error) {
            bootbox.dialog({
                message: "An error occurred while submitting the form.<br /><br />Error: " + error.statusText,
                buttons: {
                    confirm: {
                        label: 'Close',
                        className: 'btn-default'
                    },
                }
            });
        });
    });

    function enableSubmitButton() {
        $('.button-submit-wide').removeClass('disabled');
        $('.button-submit-wide').html('Change Password');
    }

    $(document).on('hidden.bs.modal', function () {
        $('.button-submit-wide').html('Change Password');
    });
});
</script>
}
