@using Microsoft.AspNetCore.Http.Features
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var betaModalCookie = HttpContextAccessor.HttpContext.Request.Cookies["BetaModalCookie"];
    var showModal = betaModalCookie == null ? true : false;
    var cookieString = "BetaModalCookie=hide; expires=" + DateTime.UtcNow.AddYears(1).ToString("r") + "; path=/; secure; samesite=lax";
}

@if (showModal)
{
<div id="beta-modal" class="modal fade">
    <div class="modal-dialog text-left">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Welcome to TabCollab beta!</h4>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style="text-decoration: underline">What is TabCollab?</h6>
                TabCollab is a web app that allows you to collaborate on music tablature. You can reach your music from any device with a web browser, track and share your song versions with your bandmates, and even play your songs in the browser.<br><br>Create your free account and start tracking your music!<br><br>
                <h6 style="text-decoration: underline">What is TabCollab beta?</h6>
                TabCollab beta is an early-access period. During the beta, you can report any issues you find via the Bug Report form located in the navigation bar (after you log in). Once the beta is over, you can upgrade your account to a subscription acount if you wish, which allows for UNLIMITED tab version uploads.<br><br>If you have any questions, please check out the Help page for more information.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var betaModal = $('#beta-modal');
        setTimeout(function () {
            betaModal.modal({
                backdrop: 'static', keyboard: false
            }) 
            betaModal.modal('show');
        }, 1000);

        betaModal.on("hidden.bs.modal", function () {
            document.cookie = "@cookieString";
        });
    });
</script>
}