@using Microsoft.AspNetCore.Identity
@using TabRepository.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{    
    <form id="search-form" class="form-inline my-2 my-lg-0 search-form" asp-controller="Friends" asp-action="Search" method="get" autocomplete="off">
        <input id="search-input" type="text" class="form-control mr-sm-2" placeholder="Search musicians" name="searchString">
        <ul class="list-group search-results"></ul>
    </form>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right bottom-nav">
            <li class="nav-item" style="position: relative;">
                <a class="nav-link"><i class="notifications-btn fa fa-exclamation-circle fa-lg"></i></a>
                <ul class="list-group notifications" style="display: none;"></ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index" title="Account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ReportIssue">Report Issue</a>
            </li>
            <li class="nav-item">
                <a id="btn-install" style="display: none" class="btn-install nav-link">Install</a>
            </li>
            @if (UserManager.Users.Where(u => u.Id == User.GetUserId()).FirstOrDefault().AccountType == AccountType.Free)
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Subscribe" class="btn btn-outline-primary btn-upgrade nav-link">Upgrade to Pro</a>
                </li>
            }
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link nav-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right bottom-nav">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Help">Help</a></li>
        <li class="nav-item">
            <a id="btn-install" style="display: none" class="btn-install nav-link">Install</a>
        </li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
