@model IEnumerable<TabRepository.Models.Notification>

@foreach (var notification in Model)
{
    <li>
        <button>
            <h5>@notification.Title</h5><br />
            <h6>@notification.Message1</h6>
            <h6>@notification.Message2</h6>
            <i class='fa fa-times' style='padding-left: 7px;' />
        </button>
    </li>
}