<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewData["Title"] != null ? ViewData["Title"].ToString() + " - TabCollab" : "TabCollab")</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome-4.7.0/css/font-awesome.min.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome-4.7.0/css/font-awesome.min.css">
    </environment>    
</head>
<body>
    <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img id="navbar-logo" src="~/images/TabCollab_horizontal_white.png" width="180" height="30" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Tabs" asp-action="Index">Tabs</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Albums" asp-action="Index">Albums</a></li>                    
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Friends" asp-action="Index">Friends</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right bottom-nav">
                    <!-- Loading indicator for soundfont -->
                    @*<li id="soundFontProgressMenuItem">
            <p class="navbar-text">SoundFont</p>
            <div class="progress">
                <div class="progress-bar" id="soundFontProgress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    0%
                </div>
            </div>
        </li>*@
                    <li class="nav-item"><a id="playPause" class="nav-link" disabled="disabled"><i class="fa fa-play fa-lg"></i></a></li>
                    <li class="nav-item"><a id="stop" class="nav-link" disabled="disabled"><i class="fa fa-stop fa-lg"></i></a></li>
                    <!--Print Button-->
                    @*<li class="nav-item">
                        <a class="nav-link" href="#" id="print">Print</a>
                    </li>*@
                    <!-- Track Selector -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="currentTrack">
                            Tracks
                        </a>
                        <ul class="dropdown-menu nav-dropdown" id="trackList"></ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speed: <span id="playbackSpeed">100%</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu nav-dropdown" id="playbackSpeedSelector">
                            <li class="nav-item"><a class="nav-link" href="#" data-value="0.25">25%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="0.5">50%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="0.6">60%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="0.7">70%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="0.8">80%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="0.9">90%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="1">100%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="1.1">110%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="1.25">125%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="1.5">150%</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-value="2">200%</a></li>
                        </ul>
                    </li>                    
                    <!-- Buttons for changing the layout -->
                    @*<li class="active"><a href="#" id="page" data-layout="page" data-scrollmode="vertical">Page</a></li>
        <li><a href="#" id="horizontalBarwise" data-layout="horizontal" data-scrollmode="horizontal-bar">Horizontal (Barwise)</a></li>
        <li><a href="#" id="horizontalOffscreen" data-layout="horizontal" data-scrollmode="horizontal-offscreen">Horizontal (Offscreen)</a></li>*@
                </ul>
                @await Html.PartialAsync("_PlayerLoginPartial")
            </div>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <footer style="display: none;">Copyright &copy; @DateTime.Now.Year - TabCollab</footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
        <script src="~/lib/modernizr/src/Modernizr.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
        <script src="~/lib/modernizr/src/Modernizr.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>

