@{
    ViewData["Title"] = "Error";
}

<div class="flex-container-row">
    <div class="flex-container-col">
        <div class="confirmation-message">
            <h2>@ViewData["Header"]</h2>
            <div>
                <p>
                    @ViewData["Body"]
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('footer').show();
    });
    </script>
}
